@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
body {
  /* background: #9a9692; */
  /* min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif; */
    /* background-image: url(./assets/images/space.jpg);
    background-size:cover;
    background-repeat: no-repeat; */
    
    
  /* z-index: -2; */
}

.backImg{
  background-image: url(./assets/images/space.jpg);
  
}

h1 {
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.image2 {
  background-image: url("../src/assets/video/icon.mp4");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: -3% -45%;
  position:absolute;
  width: auto;
  height: auto;
}

@keyframes example {
  from {top: -350px;}
  to {top: 0px;}
}


/* body { 
  background-image: url('../src/assets/video/icon.mp4');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
} */

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  /* padding-bottom: 50px; */
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}


.auth-wrapper {
 
  text-align: center;
  margin-top: 100px;
  
  
}
.auth-inner {
  width: 400px;
  margin: auto;
  
  background: rgba(34, 35, 58, 0.2);
  box-shadow: 0px 14px 80px rgba(52, 54, 95, 0.9);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  color: white;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;   
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}

.edit {
  margin-bottom: 100px;
}

.padding {
  padding-bottom: 50px;
  text-decoration: underline;
}

.nav  {
  background-color: rgb(0, 0, 0);
  color: white;
}
.test{
  color: white;
}
.nav a {
  padding: .5em .8em;
  color: rgba(255, 255, 255, 0.986);
  position: relative;
  text-decoration: none;
  /* background-color: rgba(10, 6, 6, 0.5); */
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
  /* background-color: black; */
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);

}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}
.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #18ec5b;
  background-color: rgb(0, 0, 0);
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none !important;
  color: white;
}

ul {
  list-style-type: none;
  color: yellow;
}

.nav li{
  /* border: 1px solid rgb(255, 254, 254); */
  color: white;
  
}