// @import url(./variables.scss);  

.userName{
    padding-bottom: 10%;

}


::-webkit-scrollbar {
    width: 10px;
    height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0672f5;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Handle on hover */


.scrolled {
    // width: 252px;
    height: 650px;
    overflow-y: scroll;

}

.singleUserData {
    background-color: rgba($color: #ece6e6, $alpha: 0.7);
    height: 20%;
    position: relative;
    // width: 30%;
    
    
  }