/* @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800'); */
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  
}

.backImg{
  position: fixed;
  // object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: -100px
}

.overhead {
  justify-content: center;
  display: flex;
  position: relative;
  animation-name: example;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  color: white;
  font-family: 'Fredoka', sans-serif;
  padding-bottom: 50px;
  font-size: 60px;
  

  
}



.image2 {
  background-repeat: no-repeat;
  margin: 15% -12%;      
  position:absolute;
  width: 25%;
}

@keyframes example {
  from {top: -350px;}     
  to {top: 0px;}
}


body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
 
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

// #logo {
// font-size: 28px;
// font-family:fantasy;
// text-decoration: underline;
// }


.auth-wrapper {
 
  // text-align: center;
  margin-top: 100px;
  
  
}

#radius {
  border-radius: 25px;
  background-color: rgba(6,114,245, 0.9);
  border-color:#fff;
  border-width: 10px;
  // display: flex;
  // justify-content: center;
  // text-align: -webkit-center;
  align-items: center;
  
  
  
}

.edit {
  margin-bottom: 100px;
  // border-radius: 100px;
  /* background-color: rgba(34, 35, 58, 0.2); */
  // box-shadow: 5px 5px 5px rgb(198, 211, 13);
// border: 2px solid black;
}




.nav  {
  background-color: rgb(0, 0, 0);
  color: rgb(218, 207, 207);
  
}
.test{
  color: white;
  
}
.nav a {
  padding: .5em .8em;
  color: rgba(251, 251, 251, 0.986);
  position: relative;
  text-decoration: none;
  /* background-color: rgba(10, 6, 6, 0  .5); */
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
  /* background-color: black; */
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid rgb(2, 8, 95);
  border-right: 3px solid rgb(2, 8, 95);
  transform: translate(-100%, 50%);

}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid rgb(2, 8, 95);
  border-left: 3px solid rgb(2, 8, 95);
  transform: translate(100%, -50%)
}
.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: lightskyblue;
  background-color: rgb(0, 0, 0);
}
a {
  color:rgb(0, 0, 0);
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none !important;
  color: white;
}

ul {
  list-style-type: none;
  // color: blue;
}

.nav li{
  /* border: 1px solid rgb(255, 254, 254); */
  color: rgb(3, 0, 0);
  
}

#buttons  {
  // display: flex;
  color: rgb(255, 254, 254);
background-color: rgb(254, 100, 5);
  /* background: black; */
  margin: 10px 0px;
  width: 20%;
  // transition: 0.8s ease-in;
  
  @media only screen and (max-width: 400px) {
    width: 35%
  }
  

  /* background-color: black; */
}

#buttons:hover {
  filter: brightness(80%);
  // background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
  transition: 0.2s ease-in;
  
  
}

#title{
  // color: black;
  /* background-color: rgba(5, 5, 5, 0.4); */
  // text-align: center;
  font-family: 'Fredoka', sans-serif;
  color: #fff;
  font-size: 2em ;
 
}

#description {
  color: white;
  font-size: x-large;
}

.links {
  transition: all 0.3s ease;
  color: rgb(255, 217, 0);
  font-size: xx-large;
  font-family: 'Fredoka', sans-serif;
  
  
  
}

.links:hover {
  // transition: transform 300ms; 
        // transform: translateY(-5px);
   color: #fff;
}


.padding {
  margin: 15px;
  
}
.float{
  float: right;
}
.updated{
  /* width: 10%; */
  margin: -2px -65px;
  /* object-position: center; */
  position: absolute;
  
}

h3 {
  color:#fff;
  
}


.cardTest{
  text-align: -webkit-center;
  margin: auto;
  
  
}

.spacing:hover {
  background: #fff;
}
.spacing {
   transform: rotateX(15deg);
  }

.spacing:hover{
transition: all 0.65s;
transform: rotateY(15deg);
}

.UpdateFix{
position: relative;
display: flex;
flex-direction: column;
background-color: #c0c4c2;
box-shadow: 5px 5px 5px black;
border: 2px solid black;
text-align-last: center;
}

#blog-creator{
  
  font-size: xx-large;
  font-family: 'Fredoka', sans-serif;
  color: white;
  text-decoration:underline;
}




#comment-card {
  background: #fff;
  color:  #0672f5;
  border-radius: 20px;
  

}

#comment-border {
  border-radius: 20px;
}

h4 {
  color:#fff;
}

#count {
  color:#fff;
}

#comment-button {
  background: #fff;
  color :#0672f5
}
 #comment-button:hover {
   background-color:rgb(255, 217, 0);
   transition: .3s;
 }

 #comments {
   width:50vw;
 }
